.popup__container {
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 619px) {
  .popup__container {
    width: calc(100% - 38px);
    height: 322px;
  }
}