.popup_input-error {
  width: calc(100% - 72px);
  margin: 5px auto 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #FF0000;
  display: none;
}

@media screen and (max-width: 619px) {
  .popup_input-error {
    width: calc(100% - 44px);
  }
}