.profile__addBtn-border {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: opacity .1s ease-out;
}

.profile__addBtn-border:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .profile__addBtn-border {
    width: 100%;
    max-width: 282px;
    margin: 36px auto 0;
  }
}